.button{
    display: inline-block;

    font-size: $font-size-button;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;

    color: $black;
    
    background-color: inherit;
    border: none;
    outline: none;

    cursor: pointer;

}

.button-btn{
    padding: .4rem 2rem;

    background: rgba(255,255,255, 1);
    border-radius: 1.2rem;

    color: $black;

    box-shadow: 0 2px 8px $blue;

    transition: all linear .2s;

    &:hover{
        
        box-shadow: 0 0 12px $blue;
    }
}

.btn{
    display: inline-block;
    border: none;
    outline: none;
    background: inherit;
    cursor: pointer;
}
.btn-del{
    position: absolute;
    top: 1.2rem;
    right: 1.6rem;

    font-size: 1.2rem;
    color: $red;
}


.btn-translate{
    position: absolute;

    top: 0;
    right:-3.4rem;

    width: 2rem;
    height: 2rem;

    background: $blue;
    outline: none;
    
    border: none;
    border-radius: .5rem;

    cursor: pointer;
    opacity: .1;

    transition: linear .2s;

    &:hover{
        opacity: 1;
    }
}