.input__word{
    @include shadows;
    
    width: 35rem;
    padding: .8rem 1.4rem;
    
    font-size: 1.5rem;

    outline: none;

    border: none;
    border-radius: 1rem;

    &::placeholder{
        color: rgb(94, 91, 91);
    }
}
