@media (max-width: 1440px){

    .conteiner{
        padding: 0 3rem;
    }
    
    .header__inner{
        width: 1200px;
    }

    .input__word{
        width: 28rem;
    }

    .card-result{
        max-width: 30rem;

        .card-word,
        .card-translate{
        padding: .8rem;

        font-size: 1.4rem;
        font-weight: 400;
        }
    }

    .button{
        display: inline-block;
    
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    
    }
    .selection-card__conteiner{
        .selection-card__title{
            font-size: 1.4rem;
            font-family: $fontTitle;
            transition: all linear .3s;
        }
        
        .selection-card__description{
            font-size: 1.2rem;
            font-family: $fontTitle;
            color: #9999;
        }
    }

    
    
}