@mixin shadows{
    border: 1px solid #000;
    box-shadow: 0 2px 20px #999;
}

@mixin margins {
    // margin: 1rem 0;
    text-align: center;
    font-family: "Ubuntu";
}

@mixin blue {
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: -1.2rem;

        width: .4rem;
        height: 100%;

        background-color: $blue;
        opacity: .6;
    }
}