// background
$main-background-color: rgba(0, 0, 0, 0.9);
$second-background-color: #fff;
$main-header-background: rgba(81, 75, 75, 0.1);

// color
$blue: rgb(84, 111, 234);
$orange: rgb(255, 98, 0);
$white: rgba(255,255,255, 1);
$black: rgba(0,0,0,1);
$red: rgb(255, 0, 0);
$color-word: rgb(83, 77, 77);
$color-translate: rgb(68, 106, 153);
$color-title__second: rgba(255, 255, 255, 0.8);

// size 
$font-size-link: 1.5rem;
$font-size-button: 1.5rem;

//  margin block
$margin-block: 4rem;

//font-family
$fontText: 'Roboto', sans-serif;