.article{
    position: relative;
    margin: 4rem 0;
    
}
.article-colums{
    display: flex;
    justify-content: space-around;
}
.article-colum{
    padding: 0 1.2rem;
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    // text-align: justify;
}
.article-text{
    position: relative;

    font-size: 1.5rem;
    font-family: $fontText;

    // border-bottom: 2px solid #999;

    // &::after{
    //     content: "";
        
    //     width: 100%;
    //     height: 2px;
        
    //     background-color: #999;
        
    //     position: absolute;
    //     bottom: -1rem;
    //     left: 0;
    // }

    &__ua{
        display: none;
    }
}
.article-text__active{
    
    .article-text__ua{
        display: block;
    }
    
    .article-text__sk{
        display: none;
    }

    .article-description{
        display: none;
    }
    .article-description__ua{
        display: block;
    }
}

.article-subtitle{
    color: $color-translate;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 1.8rem;

    &__orange{
        color: $orange;
    }
}

.article-description,
.article-description__ua,
.article-description__us{
    margin: 0 1rem 1rem 1rem;

    position: relative;
    display: inline-block;

    font-size: 1.8rem;
    font-family: 'Ubuntu';
    font-weight: 600;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: -1.2rem;

        width: .4rem;
        height: 100%;

        background-color: $blue;
        opacity: .6;
    }

    &__us{
        &::after{
            background-color: $orange;
        }
    }

    &__ua{
        display: none;
    }
}

.artickle-abzac{
    display: block;
    text-indent: 1.5rem;
}

.article-second{
    margin: 5rem 0 3rem 5rem;
    padding: 0 1rem;
    
    width: 60%;
}
.article-block{
    display: block;

    &__mt{
        margin-top: 1rem;
    }
}




//--------------------------------------------

