.article{
    width: 100%;
    margin-bottom: 3rem;
}
.article-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-box{
    position: relative;
    display: flex;
    justify-content: center;
}
.article__title,
.article__title__ua{
    font-size: 3rem;
    font-family: $fontTitle;
    font-weight: 400;

    &__ua{
        display: none;
    }
}
.article-text{
    position: relative;

    font-size: 1.5rem;
    font-family: $fontText;

    &__ua{
        display: none;
    }
}
.article__photo{
    margin: 0 auto;
    position: relative;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__img{
    margin: 2rem 0;
    width: 70rem;
    height: 40rem;

    border-radius: 1rem;

}

.article__content{
    width: 60%;
    margin: 0 auto;
}
.article__paragraph{
    margin: 2rem 0;
}
.article__title__paragraph-us,
.article__title__paragraph-ua{
    margin-bottom: 1rem;
    
    font-weight: 400;
    font-size: 2.2rem;
    font-family: $fontText;
    
    text-decoration: underline;
}
.article__title__paragraph-ua{
    display: none;
}

.article-text__active{
    
    .article-text__ua{
        display: block;
    }
    
    .article-text__sk,
    .article-text__us{
        display: none;
    }

    .article-description{
        display: none;
    }
    .article-description__ua{
        display: block;
    }
    .article__title{
        display: none;
    }
    .article__title__ua{
        display: block;
    }
    .article__title__paragraph-us{
        display: none;
    }
    .article__title__paragraph-ua{
        display: block;
    }
}

.article-subtitle{
    color: $color-translate;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 1.8rem;
}

.article-description,
.article-description__ua,
.article-description__us{
    margin: 0 1rem 1rem 1rem;

    position: relative;
    display: inline-block;

    font-size: 1.8rem;
    font-family: 'Ubuntu';
    font-weight: 600;
    @include blue;

    &__ua{
        display: none;
    }
}
.article-block{
    display: block;
    &__mt{
        margin-top: 1rem;
    }
}